@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



.logo{
    font-family: "Dancing Script";
    color: #4EAB60;
}

#qr-reader {
    border: none !important; 
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  #qr-reader__scan_region{
    max-width: max-content !important;
    margin: 0px auto 0 !important;
    min-width: 300px;
    min-height: 300px;
    width: 100% !important;
    border-radius: 40px !important;
  }
  #qr-reader__scan_region img{
    visibility: hidden;
  }
  
  #qr-reader__dashboard {
    background-color: transparent !important; /* Make dashboard background transparent */
    padding: 0 !important; /* Remove default padding */
  }
  
  #qr-reader__dashboard_section_csr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  #qr-reader__dashboard_section_csr button {
    background-color: #29c46a !important;
    color: white !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.375rem !important; 
    border: none !important;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.2s;
  }
  
  #qr-reader__dashboard_section_csr button:hover {
    background-color: #24b561 !important; 
  }
  
  #qr-reader__dashboard_section_csr select {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.375rem !important;
    border: 1px solid #c8c8c8 !important;
  }
  
  #qr-reader__dashboard_section_csr select:focus {
    outline: none;
    border-color: #29c46a !important; 
  }
  
  #qr-reader__dashboard_section_csr span {
    color: rgb(112, 112, 112) !important;
    font-size: 0.875rem !important; 
  }

